html, body {
    margin: 0;
    background-color: var(--background) !important;
}

nav {
    display: flex;
    padding: var(--padding);
    background-color: var(--background);
    border-radius: 0 0 10px 10px;
    gap: 2rem;
    img {
        margin: 0 1rem;
    }
    h1 {
        font-size: 1.6rem;
        margin: 0;
    }
    .links {
        a {
            padding-top: 6px;
            text-decoration: none;
            color: var(--primary);
            transition: 0.2s;
            &:hover {
                border-bottom: 5px solid var(--accent);
            }
        }
    }
}
footer {
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    color: var(--background);
    background-color: var(--accent-dark-background);
    display: flex;
    padding: 2rem 8rem;
    .odkazy-block {
        position: relative;
        z-index: 20;
        text-align: left;
        display: flex;
        flex-direction: column;
        flex: 1;
        a {
            color: #b4bed1;
            font-weight: lighter;
            text-decoration: none;
            transition: var(--transition);
            &:hover {
                color: var(--secondary);
                text-decoration: underline;
            }
        }
    }
    h4 {
        font-size: 1rem;
    }
}

main {
    section {
        padding-bottom: 5rem;
    }
}

.bgmask {
    width: 55%;
    top: 0;
    opacity: 0.5;
    right: 0;
    position: absolute;
    z-index: 0;
}

.trusted-by {
    display: flex;
    gap: 4rem;
    animation: roll-trust 35s linear infinite;
    white-space: nowrap;
}

@keyframes roll-trust {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-2310px);
    }
}

.trusted-by-block {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100dvw;
    mask-image: linear-gradient(90deg, transparent, black 15%, black 85%,transparent);
}

.header-image {
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 0;
}