.value-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid black;

}

.row {
    margin-bottom: 40px;

}

.header-image-box {
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 0;
  pointer-events: none;
  overflow: visible;
}

.container {
  position: relative;
  z-index: 2;
}

.header-image {
  width: 180%;
  margin-left: -40%;
  height: auto;
  display: block;
  opacity: 5;
}