.value-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid black;

}

.benefits {}

.row {
    margin-bottom: 40px;

}

.header-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}