:root {
    --primary: #0496FF;
    --secondary: #FF8811;
    --accent: #00487C;
    --background: #ffffff;
    --accent-background: #dae9f1;
    --accent-dark-background: #1d2b35;
    --secondary-dark: #b35d0d;
    --padding: 1rem;
    --transition: 200ms;
}